*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  line-height: 1.5em;
}

.container{
  width: 95%;
  margin: auto;
}

.p-img1{
  background-image: url('pexels-peter-fazekas-874629.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.70;
  background-attachment: fixed;
}

.p-img2{
  background-image: url('pexels-benjamin-suter-2225216.jpg');
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.70;
  background-attachment: fixed;
}

.p-img3{
  background-image: url('pexels-matheus-bertelli-12446378.jpg');
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.70;
  background-attachment: fixed;
}

.p-img4{
  background-image: url('pexels-nikolett-emmert-12165534.jpg');
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.70;
  background-attachment: fixed;
}

/* To get a parallax effect, put the background attachment as fixed */

.p-text1{
  width: fit-content;
  text-align: center;
  position: relative;
  top: 50vh;
  left: 38vw;
  font-size: 1.3rem;
}

.p-text1 .border{
  padding: 2vh 2vw;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 100%, 100%);
}